@{
    ViewData["Title"] = "Home Page";
}

<style>
	body{
		background-color: black;
	}
</style>

<div class="text-center">
		<div class="container text-center">
			<div class="row align-items-center">
				<div class="col">
					First column
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="Holidays" asp-action="Index">Holidays</a>
						</div>
					</div>
					<br />
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="CelebrationsAndCeremonies" asp-action="Index">Celebrations || Ceremonies</a>
						</div>
					</div>
				</div>
				<div class="col">
					Second column
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="BabyAndKids" asp-action="Index">Baby || Kids</a>
						</div>
					</div>
					<br /> 
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="Weddings" asp-action="Index">Love</a>
						</div>
					</div>
					<br /> 
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="Birthdays" asp-action="Index">B-Day</a>
						</div>
					</div>
				</div>
				<div class="col">
					Third column
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="Organizations" asp-action="Index">Organizations</a>
						</div>
					</div>
					<br /> 
					<div class="card" style="width: 18rem;">
						<img src="..." class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Card title</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
							<a class="form-group btn btn-outline-info" asp-area="" asp-controller="GetTogethers" asp-action="Index">Get-Togethers</a>
						</div>
					</div>
				</div>
			</div>
    </div>
</div>